$base-color: #c6538c;
$background-color: #0B132B;
$primary-color: #1C2541;
$secondary-color: #29415E;
$background-color-canvas: white;
$accent: #F8B294;
$background-color-toolbar-button-active: #F8B294;
$background-color-toolbar-button-hover: lighten($background-color-toolbar-button-active, 15%);
$font-color: #00ff8c;
$accent: papaya;
$warning: rgb(236, 115, 115);

$icon-size: 27px;
$border-dark: rgba($base-color, 0.88);