#container {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  background: #29415e;

  #grid{
    display: flex;
    justify-content: space-around;
    margin: .5em 0;
  }

  .hide {
    display: none !important;
  }

  app-snapping-controls{
    width: 100%;
  }

  #buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  #controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
