<div id="container">
  <button
    [disabled]="!canCopy()"
    matTooltip="copier"
    mat-icon-button
    aria-label="Copy"
    (click)="copy()"
  >
    <mat-icon>content_copy</mat-icon>
  </button>
  <button
    [disabled]="!canCopy()"
    matTooltip="couper"
    mat-icon-button
    aria-label="Cut"
    (click)="cut()"
  >
    <mat-icon>content_cut</mat-icon>
  </button>
  <button
    [disabled]="cannotPaste()"
    matTooltip="coller"
    mat-icon-button
    aria-label="Paste"
    (click)="paste()"
  >
    <mat-icon>content_paste</mat-icon>
  </button>
  <button
    [disabled]="!canCopy()"
    matTooltip="dupliquer"
    mat-icon-button
    aria-label="Duplicate"
    (click)="duplicate()"
  >
    <mat-icon>control_point_duplicate</mat-icon>
  </button>
</div>
